.jumbotron {
  padding: 2rem 2rem;
  border-radius: 5px;
}

.coin {
  height: 150px;
  width: 150px;
  background: url('../assets/images/coin.svg') no-repeat center center/cover;
}

h1 {
  display: inline-block;
}

.tickerSymbol {
  margin-right: 20px;
  font-size: 1rem;
  color: rgba(0, 0, 0, .4)
}