.spinnerContainer {
  margin: 0 auto;
  height: 30vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .9);
  border-radius: .5rem;
}

.spinner {
  height: 20vw;
  width: 20vw;
}